<div class="row">
  	<div class="large-12 columns">
    <h1>Welcome to Foundation CSS</h1>
	  	<div class="panel">
	    	<h1>The Home View!</h1>
		    <ul>
		        <li ng-repeat="thing in things">{{thing}}</li>
		    </ul>
	    </div>
	</div>
</div>